<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="w-full h-screen bg-gray-900 text-white p-10">
        <h1 class="text-3xl p-5 text-yellow-300">
            <%= fileName %>
        </h1>

        <form action="/editDetails" method="post">
            <input type="hidden" name="fileName" value="<%= fileName %>"> <!-- Add this hidden input -->

            <div>
                <input class="w-full h-[300px] outline-none bg-gray-700 p-3 m-2 rounded-md"
                    placeholder="Write your Title/Heading with preferred file extension" name="previousDetails"
                    value="<%= fileData %>"> <!-- This will show the previous details -->

                <input class="w-full h-[100%] outline-none bg-gray-700 p-3 m-2 rounded-md"
                    placeholder="Write new details" name="newDetails" value="<%= fileData %>">
                <!-- This will now also show the existing details -->
            </div>

            <div class="mt-5">
                <a href="/" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 rounded-md">Back</a>
                <input class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 m-2 rounded-md"
                    type="submit" value="Save Details">
            </div>
        </form>
    </div>
</body>

</html>